body{
    font-family: 'Prompt', sans-serif !important;    
    /* background-color: #EEF0F8 !important; */
    background-color: #fff !important;
    margin: 0;
}

.mt-3rem{
    margin-top: 3rem;

}

.mb-3rem{
    margin-bottom: 3rem;
}

.main-container{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}
.card-title{
    margin-bottom: 3rem !important;
}
.display-flex{
    display: flex;
}
.justify-flex{
    justify-content: center;
}
.text-center{
    text-align: center;
}

.landpage-container
{
    max-width: 980px;
    padding-top: 30px;;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.content-container
{
    padding-left: 15px;
    padding-right: 15px; 
    margin:auto;
}

.banner-img{
    max-width: 100%;
    height: 100%;
}

.full-width-img
{
    max-width: 100%;
    height: auto;
}

.text-title{
    font-size: 1.5rem;
    font-weight: 400;
}

.text-content{
    font-size: 1rem;
    font-weight: 400;
}

.feature-ul
{
    padding-left: 25px;
}

.text-hightlight
{
    color: #21409a;
}
.stepper-box::after
{
    content: "";
    border-bottom: 2px solid #21409a;
    width: 100%;

}

.hightlight-box{
    border: 4px solid #21409a;
    border-radius: 16px;
}